@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #222831;
  --foreground: #222831;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


